<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
  
    # Exclude existing files and directories from rewriting
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
  
    # Rewrite all non-existing URLs to index.html
    RewriteRule ^ index.html [L]
  </IfModule>